<header class="header container-fluid">
  <div class="header-logo d-flex align-items-center">
    <div class="header-logo__img d-flex">
      <img src="/open-banking-demo/img/logo.svg" alt="logo">
    </div>
    <span class="header-logo__for-developers">For developers</span>
  </div>
</header>
