<section class="quickstart-header">
  <h1 class="quickstart-header__title">FriendlyScore Quickstart</h1>
  <h3 class="quickstart-header__subtitle">Success! You just connected to FS Sandbox Bank</h3>
</section>
